.artWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  /* weird scrolling when @ 100 */
  height: 90%;
  padding-left: 10vw;
  padding-right: 10vw;
}

.artButton {
  margin: 10px auto;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: white;
  font-size: larger;
}

.artButton:hover {
  background-color: #0056b3;
}

/*Art's Description*/
.descriptionOfArt,
.purchaseArt {
  text-align: center;
  padding: 0 2em;
  font-size: large;
}

@media (max-width: 850px) {
  .artWrapper {
    flex-direction: column;
  }
}
