.artWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* weird scrolling when @ 100 */
  height: 90%;
  padding-left: 5vw;
  padding-right: 10vw;
}

.art {
  width: fit-content;
  height: fit-content;
}

.artButton {
  margin: 10px auto;
}

/*Art's Description*/
.descriptionOfArt,
.purchaseArt {
  text-align: center;
}

/*Quantity Button CSS*/
.qty {
  width: 40px;
  height: 25px;
  text-align: center;
}

input.qtyplus {
  width: 25px;
  height: 25px;
}
input.qtyminus {
  width: 25px;
  height: 25px;
}

/* Hover Zoom/Pop Out Effect Css*/
.zoom-img {
  width: 300px;
  height: 300px;
  overflow: hidden;
}

.zoom-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: all 0.3s ease;
}

.zoom-img img:hover {
  transform: scale(1.2);
}

.pop-out {
  transition: transform 0.5s;
  overflow: hidden;
}

.pop-out:hover {
  -ms-transform: scale(1.5, 1.5);
  -webkit-transform: scale(1.5, 1.5);
  transform: scale(1.5, 1.5);
}

@media (max-width: 850px) {
  .artWrapper {
    flex-direction: column;
  }
}
