.artWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* weird scrolling when @ 100 */
  height: 90%;
  padding-left: 5vw;
  padding-right: 10vw;
}

.artButton {
  margin: 10px auto;
}

/*Art's Description*/
.descriptionOfArt,
.purchaseArt {
  text-align: center;
}

/*Quantity Button CSS*/
.qty {
  width: 40px;
  height: 25px;
  text-align: center;
}

input.qtyplus {
  width: 25px;
  height: 25px;
}
input.qtyminus {
  width: 25px;
  height: 25px;
}

@media (max-width: 850px) {
  .artWrapper {
    flex-direction: column;
  }
}
