body {
  overflow: scroll;
}
.checkoutContainer {
  overflow: hidden;
  height: 100vh;
}

.CreditCardContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: black;

  color: white;
}

.checkout-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 10px;
}

.checkout-label,
.checkout-input,
.checkout-button {
  margin: 5px 0;
}

.checkout-button {
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  align-items: center;
}
.submit-button {
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
}

.submit-button:hover {
  background-color: #0056b3;
}
.PopUpContainer {
  display: flex;
  align-items: center;
  background-color: black;
}

.checkout-button:hover {
  background-color: #0056b3;
}
.itemList h1 {
  text-align: center;
  height: 4vh;
}
.filler {
  background-color: black;
  height: 50vh;
}
