@font-face {
  font-family: 'Ruwudu';
  src: url('../fonts/Ruwudu/Ruwudu-Bold.ttf');
}
.display-section-wrapper {
  margin: 0px 20px 20px 20px;
  border: 10px double #000000; /* Add a border for visualization */
  box-shadow: 7px 7px black;
  overflow-x: auto; /* Enable horizontal scrolling if content overflows */
  white-space: nowrap; /* Prevent content from wrapping to the next line */
  background-color: #d4c8b8;
}

.display-section-name {
  padding: 0;
  margin: 0 0 0 20px;
  font-family: Ruwudu;
  font-size: 30px;
  font-weight: bold;
  color: black;
  
}

.art-container {
  display: inline-flex;
  gap: 10px; /* Adjust the gap between items as needed */
  padding: 10px;
  overflow: hidden;
}
