@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: "Bebas Neue", sans-serif;
}

#root {
  height: 100%;
}

#root::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}

.magnifying-glass-container,
.description {
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none; /* Firefox */
}

.magnifying-glass-container::-webkit-scrollbar,
.description::-webkit-scrollbar {
  display: none;
}
