/*Quantity Button CSS*/
.qty {
    width: 40px;
    height: 25px;
    text-align: center;
  }
  
.plus {
    width: 25px;
    height: 25px;
  }
.minus {
    width: 25px;
    height: 25px;
  }